.nav-main {
  ul,
  li,
  a {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $pink2;
    font-family: $sans;
    font-weight: 700;
    font-size: 21px;
  }

  .nav-gif__wrapper {
    border: 2px solid $black;
    box-shadow: 5px 5px $black;
    width: 100px;
    height: 90px;
    padding: 10px;

    img {
      width: 100%;
    }

    @media (min-width: 992px) {
      padding: 40px;
      width: 100%;
      height: auto;

      img {
        margin: 0 auto;
        width: 70%;
      }
    }
  }

  .nav-container {
    padding: 20px;

    @media (min-width: 992px) {
      padding: 60px;
    }
  }

  @media (min-width: 992px) {
    .nav-items__wrapper {
      padding-top: 60px;
    }
  }
}
