{% if menu %}


	<ul class="d-lg-flex nav-items__wrapper justify-content-between">


		{% for item in items %}
			<li class="nav-items__item">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "menu.twig" with {'items': item.children} %}
			</li>
		{% endfor %}
	</ul>


{% endif %}
