{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="iframe-wrapper">
					{{post.iframe}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 offset-md-1">
				<h1>{{post.title}}</h1>
			</div>

			<div class="col-md-6">
				{{post.content}}
			</div>
		</div>

		{% if post.processos %}
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="masonry">
						{% for img in post.meta('processos') %}
							<img class="masonry-brick" src="{{img.imagem.url}}" alt="">
						{% endfor %}
					</div>
				</div>
			</div>

		{% endif %}
	</div>
	<!-- /content-wrapper -->
{% endblock %}
